#root {
  background-color: #000000;
  height: 95vh;
  display: grid;
  place-items: stretch / stretch;
  place-content: stretch / stretch;
  grid-template-rows: 100%;
  grid-template-columns: 62% 38%;
  grid-template-areas: 
    "A B"
    "A C";
}

#core {
  grid-area: A;
}

#circuit {
  grid-area: B;
  height: 47.5vh;
  background-color: white;
  border-width: 1px;
  border-color: black;
}

#graph {
  grid-area: C;
  height: 47.5vh;
  background-color: white;
  border-width: 1px;
  border-color: black;
}

header {
  height: 5vh;
  padding: 10px;
  text-align: center;
  background-color: white;
}